/* *{

    margin: 0px;
    
}  */


img{
    max-width: 100%;
}

.image{
margin: 15px;
width: 100%;
height: 500px;

background-image: url("./jaman.jpg");
background-repeat: no-repeat;
background-color: antiquewhite;
background-position: center;



}


h1{
    color: aqua;
}